<!DOCTYPE html>
<html>
  <head>
    <title>DemoRailsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://unpkg.com/@elastic/apm-rum@5.0.0/dist/bundles/elastic-apm-rum.umd.min.js" crossorigin></script>
    <script>
        elasticApm.init({
            transactionSampleRate: 0.1,
            serviceName: 'DemoRails-RUM',
            serverUrl: 'http://localhost:8200',
            pageLoadTraceId: "<%= ElasticAPM.current_transaction&.trace_id %>",
            pageLoadSpanId: "<%= ElasticAPM.current_transaction&.ensure_parent_id %>",
            pageLoadSampled: <%= ElasticAPM.current_transaction&.sampled? %>
        })
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
